rules_version = '2';

service cloud.firestore {
  // Top-level match for all documents in the Firestore database
  match /databases/{database}/documents {

    // Rules for the 'users' collection
    match /users/{userId} {
      // Allow read and create operations if the request is authenticated
      allow read, create: if request.auth != null;

      // Allow update operation if the authenticated user's UID matches the 'userId'
      allow update: if request.auth.uid == userId;
    }
   
    // Rules for the 'projects' collection
    match /projects/{projectId} {
      // Allow read, create, and update operations if the request is authenticated
      allow read, create, update: if request.auth != null;

      // Allow delete operation if the authenticated user's UID matches the creator's UID
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }

  }
}
